@import "_vars"; 
@import "burger";
@import "../icomoon/style"; 

html,body {
	height: 100%;
}

// ==== STARS =====================================================
.stars-list {
	display: flex;
	font-size: 14px;
	justify-content: center;

	& > li {
		line-height: 14px;
		&:not(last-child) {
			margin-right: 2px;
		}
	}

	& .icon-star-full {
		color: #31b781;
	}

	& .icon-star-empty {
		color: #cccccc;
	}
}
// ==== AND  STARS =====================================================

.page-how-works-business, .page-how-works-student, .page-1, .page-about, .error404, .page-create-account {
	& .top-line {
		overflow: visible;

		@media (max-width: $md2+px) {
			overflow: visible;
		}

		@media (max-width: 568px){
		    padding: 10px 31px;
		}

		@media (max-width: 380px){
		    padding: 10px 0;

		    & .content-width {

		    	& .logo {
		    		width: 100px;
		    	}
		    }
		}

		& .top-menu {
			text-align: right;
			margin: 0 13px 0 33px;
			box-shadow: 0 18px 21px -23px #b2b2b2;
			padding-left: 0;
			flex: 1 1 auto;
			width: auto;

			@media (min-width: $md2+px) {
				display: block !important;
			}

			@media (max-width: $md2+px) {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				background: #fff;
				text-align: center;
				padding: 30px 0;
				display: none;
				margin: 0;
			}

			& ul {
				display: flex;
				justify-content: flex-end;
				width: 100%;
				@media (max-width: $md2+px) {
					display: block;
				}
			}

			& li {

				&.left {
					margin-right: auto !important;
				}
				&:not(:last-child) {
					margin-right: 43px;
				}
				&.active {
					& > a {
						color: #31b781;
						font-weight: 700;
					}
				}

				@media (max-width: $md2+px) {
					margin-right: 0 !important;
					display: block;
					margin-left: 0 !important;
				}
			}

			& a {
				font-family: 'Merriweather', sans-serif;
				color: #6a797d;
				font-size: 14px;
				font-weight: 400;
				transition: all .2s ease;

				@media (min-width: 992px) {
					&:hover {
						color: #31b781;
					}
				}
			}

		}

		& .content-width {
			& .logo {
				@media (max-width: $md2+px) {
					order: 0 !important;
				}
			}

			& .btn-wrap {
				width: 135px;

				& .btn-default {
					top: 0 !important;
				}

				@media (max-width: $md2+px) {
					margin-left: auto;
					order: 0 !important;
					width: 125px;

					& .btn-default {
						font-size: 12px;
						line-height: 30px;
						padding: 0 10px;
					}
				}

				@media (max-width: 568px){
				  	width: 115px;
				}

				& .collapse {
					display: none;
					position: absolute;
					top: 125%;
					right: 0;
					width: 179px;
					padding: 10px;
					box-shadow: 0px 2px 20px -10px black;
					z-index: 10;

					& > a {
						display: block;
						margin-top: 10px;
						margin-bottom: 10px;
					}
				}
			}
		}

	}

/*	& .finding-internships {
		& .content {
			& .item {
				&-1 {
					&:after {
						display: none;
					}
				}
			}
		}
	}*/
}

.top-line-burger {
	display: flex;
	@media (min-width: 992px) {
		display: none;
	}
}





















.page-how-works-business {

	& .finding-internships {
		margin: 0;
		padding-bottom: 17px;
		& h2 {
			margin-bottom: 86px;

			@media (max-width: $md4+px) {
				margin-bottom: 40px;
			}
		}
		& .content {
			& .item {

				@media (max-width: $md4+px) {
					justify-content: flex-end;
				}

				align-items: flex-start;

				@media (max-width: $md3+px) {
					margin-bottom: 50px;

					& figure {
						padding-left: 0;
						padding-right: 0;
					}

					& .text-wrap {
						width: 100%;
					}
				}

				& .number {
					margin-bottom: 8px !important;
					line-height: 48px !important;
				}

				&:nth-child(odd) {
					& .accordion {
						
					}
				}

				&:nth-child(even) {
					& .accordion {
						justify-content: flex-end;

						@media (max-width: $md3+px) {
							justify-content: flex-start;
						}
					}
				}

				& figure {
					@media (max-width: $md4+px) {
						max-width: 200px;

						& img {
							width: 100%;
						}
					}
				}

				& .accordion {
					display: flex;
					width: 100%;
					order: 2;

					.accordion-panel {
						padding-left: 26px;

						@media (max-width: $md3+px) {
							padding-left: 0;
						}
					}

					& .inner {
						position: relative;
						padding-left: 60px;

						@media (max-width: $md3+px) {
							padding-left: 45px;
						}

						&:before {
							position: absolute;
							content: url(../img/idea-icon.png);
							top: 0;
							left: 0;
						}

						& > .title {
							color: #31b781;
							font-size: 20px;
							font-weight: 700;
							margin-bottom: 9px;
							margin-right: 40px;
							font-family: 'Merriweather', sans-serif;

							@media (max-width: $md3+px) {
								font-size: 16px;
								line-height: 18px;
							}
						}

						& > .subtitle {
							color: #6a797d;
							font-family: "Open Sans";
							font-size: 16px;
							font-weight: 400;
							line-height: 27px;

							@media (max-width: $md3+px) {
								font-size: 14px;
								line-height: 24px;
							}
						}
					}

					& .list {
						display: flex;
						flex-wrap: wrap; 
						padding-top: 23px;


						@media (max-width: $md3+px) {
							display: block;
						}

						& > li {
							width: 50%;
							padding-right: 36px;
							position: relative;
							padding-left: 30px;
							margin-bottom: 16px;

							@media (max-width: $md3+px) {
								width: 100%;
								padding-right: 0px;
							}

							&:before {
								position: absolute;
								content: url(../img/check.png);
								top: 0;
								left: 0;
							}
						}

						& h4 {
							margin: 0 0 7px;
							color: #081f25;
							font-family: 'Merriweather', sans-serif;
							font-size: 16px;
							font-weight: 400;
							line-height: 24px;
						}

						p {
							color: #6a797d;
							font-family: "Open Sans";
							font-size: 14px;
							font-weight: 400;
							line-height: 24px;
						}
					}
				}

				& .accordion-thumb {
					color: #31b781;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					margin-right: 20px;

				}


				& .accordion-item {
					max-width: 462px;
					width: 100%;
					padding: 10px 25px 10px 20px;

					@media (max-width: $md3+px) {
						max-width: none;
					}

					&:after {
						display: none;
					}

					& .plus {
						position: absolute;
						right: 15px;
						top: 14px;
						transition: all .3s ease;
					}

					&.is-active {
						max-width: 100%;
						padding-bottom: 20px;

						& .accordion-thumb {
							opacity: 0;
							margin-bottom: 6px;

							@media (max-width: $md4+px) {
								line-height: 6px;
							}
						}

						& .plus {

							&:after {
								display: none;
							}

							@media (min-width: 768px) {
								top: 40px;
								right: 35px;
								&:after {
									display: none;
								}

								&:before {
									height: 3px;
								}
							}
						}
					}
				}

				&-1 {

					& figure {
						padding: 0px 0 0 19px;
					}

					margin-bottom: 170px;
					&:after {
						position: absolute;
						content: url(../img/arrow-1.png);
						top: 103%;
						left: 23%;
					}


				}

				&-2 {
					margin-bottom: 189px;

					& figure {
						padding: 0px 0 0 45px;
					}

					&:after {
						content: url(../img/arrow-2.png);
						top: 112%;
						left: 13%;
					}

					& .text-wrap {
						width: 49%;
						padding-left: 2px;
					}

				}

				&-3 {

					margin-bottom: 201px;

					& figure {
						    padding: 0px 0 0 18px;
					}

					&:after {
						content: url(../img/arrow-3.png);
						top: 108%;
						left: 25%;
					}

					& .accordion {
						margin-top: 8px;
					}

				}

				&-4 {

					& .text-wrap {
						width: 49%;
					}

					& figure {
						padding: 9px 0 0 0px;
						position: relative;
						right: 31px;

						@media (max-width: $md2+px) {
							right: 0;
						}
					}

					& .accordion {
						margin-top: 10px;
					}

				}
			}
		}
	}





	& .launching-soon {

		margin-top: -56px;

		&:after {
			content: url(../img/bg-5.02.png);

			@media (max-width: 1024px) {
				top: 26px;
			}
		}

		@media (max-width: 568px) {
			padding: 30px 0;
		}


		& h2 {
			font-weight: 300;
			line-height: 60px;

			& > span {
				display: block;
				font-weight: 700;
				color: #31b781;
			}
		}

		& ul {
			& li {
				width: 100%;
				max-width: 222px;
			}
		}
	}


	& .get-started {

		padding-bottom: 108px;

		@media (max-width: $md3+px) {
			padding-bottom: 150px;
		}



		& .dots-wrap {
			text-align: center;
		}

		& h2 {
			font-weight: 300;
			line-height: 60px;
			margin-top: 32px;
		}

		& .subtitle {
			font-size: 40px;
			color: #31b781;
			font-weight: 700;
			text-align: center;
			font-family: 'Merriweather', sans-serif;
			line-height: 40px;
			margin-bottom: 62px;

			@media (max-width: $md3+px) {
				font-size: 32px;
				margin-bottom: 30px;
			}
		}

		& .content {
			margin-bottom: 75px;
			& ul {

				&:after {
					display: none;
				}

				& li {
				    box-shadow: 0 5px 27px 1px rgba(12, 26, 55, 0.12);
				    border-radius: 5px;
				    background-color: #ffffff;
				    padding: 30px 20px 20px;
				    text-align: center;
				    width: 32%;

				    @media (max-width: $md3+px) {
				    	width: 100%;
				    }

				    & figure {
				    	margin-bottom: 0;
				    }

				    & .text-wrap {
				    	box-shadow: none;
				    	border-radius: 0;
				    	background-color: transparent;
				    	font-family: 'Merriweather', sans-serif;
				    	padding: 20px 15px;

				    	& h4 {
				    		color: #081f25;
				    		font-size: 26px;
				    		font-weight: 700;
				    		margin-top: 10px;

				    		@media (max-width: $md3+px) {
				    			min-height: auto;
				    		}
				    	}

				    	& p {
				    		color: #6a797d;
				    		font-size: 16px;
				    		font-weight: 400;
				    		line-height: 30px;
				    	}
				    }

				}

				& .label {
					color: #31b781;
					font-size: 14px;
					font-weight: 700;
					line-height: 39px;
					border-radius: 13px;
					background-color: rgba(#31b781, 0.12);
					padding: 5px 14px;
				}



			}
		}

		& .bottom-wrap {
			font-family: 'Merriweather', sans-serif;
			& h3 {
				color: #081f25;
				font-size: 24px;
				line-height: 24px;
				text-align: center;
				font-weight: 400;
				letter-spacing: -0.2px;
			}

			& .subtitle {
				font-size: 24px;
				line-height: 35px;
				letter-spacing: -0.4px;
				margin-bottom: 25px;
			}

			& .bottom-btn {
				text-align: center;

				& .big-btn-default {
					padding: 0 48px 0 24px;
				}
			}
		}
	}

	& .faq {
		margin-bottom: 130px;

		@media (max-width: $md4+px) {
			margin-bottom: 50px;
		}
	}

}





















.page-how-works-student {
	& .finding-internships {
		margin: 0;
		padding-bottom: 20px;
		& h2 {
			margin-bottom: 86px;

			@media (max-width: $md4+px) {
				margin-bottom: 40px;
			}
		}
		& .content {
			& .item {

				align-items: flex-start;

				@media (max-width: $md4+px) {
					justify-content: flex-end;
				}

				@media (max-width: $md3+px) {
					margin-bottom: 50px;

					& figure {
						padding-left: 0;
						padding-right: 0;
					}

					& .text-wrap {
						width: 100%;
					}
				}

				& .number {
					margin-bottom: 8px !important;
					line-height: 48px !important;
				}

				& .number {
					margin-bottom: 8px !important;
					line-height: 48px !important;
				}

				&:nth-child(odd) {
					& .accordion {
						
					}
				}

				&:nth-child(even) {
					& .accordion {
						justify-content: flex-end;

						@media (max-width: $md3+px) {
							justify-content: flex-start;
						}
					}
				}

				& figure {
					@media (max-width: $md4+px) {
						max-width: 200px;

						& img {
							width: 100%;
						}
					}
				}

				& .accordion {
					display: flex;
					width: 100%;
					order: 2;

					.accordion-panel {
						padding-left: 26px;

						@media (max-width: $md3+px) {
							padding-left: 0;
						}
					}

					& .inner {
						position: relative;
						padding-left: 60px;

						@media (max-width: $md3+px) {
							padding-left: 45px;
						}

						&:before {
							position: absolute;
							content: url(../img/idea-icon.png);
							top: 0;
							left: 0;
						}

						& > .title {
							color: #31b781;
							font-size: 20px;
							font-weight: 700;
							margin-bottom: 9px;
							margin-right: 40px;
							font-family: 'Merriweather', sans-serif;

							@media (max-width: $md3+px) {
								font-size: 16px;
								line-height: 18px;
							}
						}

						& > .subtitle {
							color: #6a797d;
							font-family: "Open Sans";
							font-size: 16px;
							font-weight: 400;
							line-height: 27px;

							@media (max-width: $md3+px) {
								font-size: 14px;
								line-height: 24px;
							}
						}
					}

					& .list {
						display: flex;
						flex-wrap: wrap; 
						padding-top: 23px;


						@media (max-width: $md3+px) {
							display: block;
						}

						& > li {
							width: 50%;
							padding-right: 36px;
							position: relative;
							padding-left: 30px;
							margin-bottom: 16px;

							@media (max-width: $md3+px) {
								width: 100%;
								padding-right: 0px;
							}

							&:before {
								position: absolute;
								content: url(../img/check.png);
								top: 0;
								left: 0;
							}
						}

						& h4 {
							margin: 0 0 7px;
							color: #081f25;
							font-family: 'Merriweather', sans-serif;
							font-size: 16px;
							font-weight: 400;
							line-height: 24px;
						}

						p {
							color: #6a797d;
							font-family: "Open Sans";
							font-size: 14px;
							font-weight: 400;
							line-height: 24px;
						}
					}
				}

				& .accordion-thumb {
					color: #31b781;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					margin-right: 20px;

				}


				& .accordion-item {
					max-width: 462px;
					width: 100%;
					padding: 10px 25px 10px 20px;

					@media (max-width: $md3+px) {
						max-width: none;
					}

					&:after {
						display: none;
					}

					& .plus {
						position: absolute;
						right: 15px;
						top: 14px;
						transition: all .3s ease;
					}

					&.is-active {
						max-width: 100%;
						padding-bottom: 20px;

						& .accordion-thumb {
							opacity: 0;
							margin-bottom: 6px;

							@media (max-width: $md4+px) {
								line-height: 6px;
							}
						}

						& .plus {

							&:after {
								display: none;
							}

							@media (min-width: 768px) {
								top: 40px;
								right: 35px;
								&:after {
									display: none;
								}

								&:before {
									height: 3px;
								}
							}
						}
					}
				}

				&-1 {

					& figure {
						    padding: 25px 0 0 0px;
					}

					margin-bottom: 167px;
					&:after {
						position: absolute;
						content: url(../img/arrow-1.png);
						top: 103%;
						left: 23%;
					}


				}

				&-2 {
					margin-bottom: 189px;

					& figure {
						padding: 21px 0 0 0px;
					}

					&:after {
						content: url(../img/arrow-2.png);
						top: 112%;
						left: 13%;
					}

					& .text-wrap {
						width: 49%;
						padding-left: 2px;
					}

					& .accordion {
						margin-top: 9px;
					}

				}

				&-3 {

					margin-bottom: 201px;

					& figure {
						padding: 22px 7px 0 0px;
						position: relative;
						left: -9px;

						@media (max-width: $md2+px) {
							left: 0;
						}
					}

					&:after {
						content: url(../img/arrow-3.png);
						top: 108%;
						left: 25%;
					}

					& .accordion {
						margin-top: 10px;

						& .list {
							& li {
								width: 33.3333%;
							}
						}

					}

				}

				&-4 {

					& .text-wrap {
						width: 49%;
					}

					& figure {
						padding: 0px 0 0 0;
						    position: relative;
						    right: 29px;

						@media (max-width: $md2+px) {
							right: 0;
						}
					}

					& .accordion {
						margin-top: 10px;
					}

				}
			}
		}
	}

	& .launching-soon { 

		margin-top: -56px;

		padding-top: 90px;

		@media (max-width: 1133px) {
			& .content {
				max-width: 758px;
			}
		}

		@media (max-width: 1024px) { 
			padding-top: 75px;
		}

		@media (max-width: $md2+px) {
			padding: 70px 0;
			& .dots-wrap {
				display: none;
			}
		}

		@media (max-width: 568px) {
			padding: 30px 0;
		}

		&:after {
			content: url(../img/bg-5.011.png);
		}

		& h2 {
			margin-top: 3px;
		}

		& ul {
			& li {
				width: 100%;
				max-width: 222px;
			}
		}
	}

	& .get-started {

		padding-bottom: 108px;

		@media (max-width: $md3+px) {
			padding-bottom: 150px;
		}


		& .dots-wrap {
			text-align: center;
		}

		& h2 {
			font-weight: 300;
			line-height: 60px;
			margin-top: 32px;
			margin-bottom: 50px;
		}

		& .subtitle {
			font-size: 40px;
			color: #31b781;
			font-weight: 700;
			text-align: center;
			font-family: 'Merriweather', sans-serif;
			line-height: 40px;
			margin-bottom: 67px;

			@media (max-width: $md3+px) {
				font-size: 32px;
				margin-bottom: 30px;
			}
		}

		& .content {
			margin-bottom: 75px;
			& ul {

				&:after {
					display: none;
				}

				& li {
				    box-shadow: 0 5px 27px 1px rgba(12, 26, 55, 0.12);
				    border-radius: 5px;
				    background-color: #ffffff;
				    padding: 30px 20px 22px;
				    text-align: center;
				    width: 32%;

				    @media (max-width: $md3+px) {
				    	width: 100%;
				    }

				    & figure {
				    	margin-bottom: 0;
				    }

				    & .text-wrap {
				    	box-shadow: none;
				    	border-radius: 0;
				    	background-color: transparent;
				    	font-family: 'Merriweather', sans-serif;
				    	padding: 20px 15px;

				    	& h4 {
				    		color: #081f25;
				    		font-size: 26px;
				    		font-weight: 700;
				    		margin-top: 10px;

				    		@media (max-width: $md3+px) {
				    			min-height: auto;
				    		}
				    	}

				    	& p {
				    		color: #6a797d;
				    		font-size: 16px;
				    		font-weight: 400;
				    		line-height: 30px;
				    	}
				    }

				}

				& .label {
					color: #31b781;
					font-size: 14px;
					font-weight: 700;
					line-height: 39px;
					border-radius: 13px;
					background-color: rgba(#31b781, 0.12);
					padding: 5px 14px;
				}



			}
		}

		& .bottom-wrap {
			font-family: 'Merriweather', sans-serif;
			& h3 {
				color: #081f25;
				font-size: 24px;
				line-height: 24px;
				text-align: center;
				font-weight: 400;
				letter-spacing: -0.2px;
			}

			& .subtitle {
				font-size: 24px;
				line-height: 35px;
				letter-spacing: -0.4px;
				margin-bottom: 25px;
			}

			& .bottom-btn {
				text-align: center;

				& .big-btn-default {
					padding: 0 48px 0 24px;
				}
			}
		}
	}


	& .faq {
		margin-bottom: 119px;

		@media (max-width: $md4+px) {
			margin-bottom: 50px;
		}
	}

	& footer .content-width .right {
	    padding: 114px 0 0;

	    @media (max-width: $md3+px) {
	    	padding: 0;
	    }
	}
}

















.plus {
	position: relative;
	height: 14px;
	width: 14px;

	&:before, &:after {
		position: absolute;
		content: '';
		background-color: #c2cbd3;
	}

	&:before {
		width: 100%;
		height: 2px;
		top: 50%;
		transform: translateY(-50%);
	}

	&:after {
		width: 2px;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
}


//===== HEADER ============================================================================
.page-how-works-business {
	& header {
		margin-bottom: 104px;

		@media (max-width: $md3+px) {
			margin-bottom: 50px;
		}
		& .content {
			background: url(../img/busines-hero-bg.jpg) no-repeat center center;
			background-size: cover;

			
			@media (max-width: $md2+px) {
				background: url(../img/busines-hero-bg.jpg) no-repeat 79% center;
				background-size: cover;

			}

			@media (max-width: $md3+px) {
				background: url(../img/busines-hero-bg-mobile.jpg) no-repeat center bottom;
				background-size: cover;

			}

			@media (max-width: $md4+px) {

				& h1 {
					font-size: 37px;
					margin-bottom: 2px;
				}

				& p {
					max-width: 313px;
					margin: 0 auto 18px;
					font-size: 18px;
					line-height: 31px;
				}
			}

			& .content-width {
				 padding: 79px 0 61px;

				 @media (max-width: $md4+px) {
				 	 padding: 50px 0 0px;
				 }

				 & .text-wrap {
				 	@media (max-width: $md3+px) {
				 		text-align: center;
				 	}
				 }
			}

			& .bottom-btn-wrap {
				max-width: 436px;
				border-radius: 10px;
				background-color: rgba(#161a1f, 0.25);
				display: flex;
				margin: 0 -4px 42px;
				padding: 8px 4px;

				@media (max-width: $md3+px) {
					margin: 0 auto 42px;
				}

				@media (max-width: $md4+px) {
					max-width: 302px;
					margin: 0 auto 1px;

					& a {
						font-size: 14px;
					}
				}

			}

			& .bottom-btn {
				padding: 0 4px;
				width: 50%;

				&.active {
					& > a {
						background-color: #2eac79;
						background-image: linear-gradient(to right, #2faa79 0%, #31b781 100%);
						color: #fff;
						transition: all .2s ease;
						font-weight: 700;

						@media (min-width: 992px) {
							&:hover {
								top: 2px;
							}
						}
					}
				}

				& > a {
					min-height: 50px;
					padding: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #bbc5ce;
					box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
					border-radius: 10px;
					background-color: transparent;
					background-image: transparent;
					font-family: 'Merriweather', sans-serif;
					transition: all .2s ease;
					position: relative;
					top: 0;

					@media (max-width: $md4+px) {
						padding: 10px 8px;
					}


					@media (min-width: 992px) {
						&:hover {
							background-color: #2eac79;
							background-image: linear-gradient(to right, #2faa79 0%, #31b781 100%);	
						}
					}
				}
			}

			& h5 {
				color: #6a797d;
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 2.4px;
				position: relative;
				padding-right: 20px;
				display: inline-block;

				&:before {
					position: absolute;
					height: 100%;
					width: 9px;
					top: 0;
					right: 0;
					content:'';
					background:  url('../img/arrow-down.png') center no-repeat;
				}
			}

		}

		& .mobile-photo {
			position: relative;
			height: 0;
			width: 100%;
			padding-bottom: 74%;
			background: #0b3039;

			& img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}


			@media (min-width: 768px) {
				display: none;
			}
		}

		& .bottom-menu-wrap {
			background-color: #081f25;
		}

		& .bottom-menu {
			min-height: 65px;

			@media (max-width: $md4+px) {
				min-height: 45px;
			}

			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;

			max-width: 847px;
			margin: 0 auto;

			@media (max-width: $md4+px) {
				max-width: 332px;
				align-items: flex-start;

				& > li {
					margin: 5px 0 0;

					& > a {
						font-size: 12px;
					}
				}
			}


			& > li {
				margin-bottom: 9px;

				& > a {
					color: #6a797d;
					font-family: Merriweather;
					font-size: 16px;
					font-weight: 400;
					padding: 10px;
					transition: all .2s ease;
					position: relative;

					&:before {
						position: absolute;
						content: '';
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						transition: all .2s ease;
						width: 0%;
						height: 3px;
						border-radius: 2px;
						background-color: #31b781;
					}

					@media (min-width: 992px) {
						&:hover {
							color: #fff;
							font-weight: 700;

							&:before {
								width: 40%
							}
						}
					}
				}
			}
		}
	}


}




















.page-how-works-student {
	& header {
		margin-bottom: 104px;

		@media (max-width: $md3+px) {
			margin-bottom: 50px;
		}
		& .content {
			background: url(../img/student-hero-bg.jpg) no-repeat center center;
			background-size: cover;

			
			@media (max-width: $md2+px) {
				background: url(../img/student-hero-bg.jpg) no-repeat 79% center;
				background-size: cover;

			}

			@media (max-width: $md3+px) {
				background: url(../img/busines-hero-bg-mobile.jpg) no-repeat center bottom;
				background-size: cover;

			}

			@media (max-width: $md4+px) {

				& h1 {
					font-size: 37px;
					margin-bottom: 2px;
				}

				& p {
					max-width: 313px;
					margin: 0 auto 18px;
					font-size: 18px;
					line-height: 31px;
				}
			}

			& .content-width {
				 padding: 79px 0 61px;

				 @media (max-width: $md4+px) {
				 	 padding: 50px 0 0px;
				 }

				 & .text-wrap {
				 	@media (max-width: $md3+px) {
				 		text-align: center;
				 	}
				 }
			}

			& .bottom-btn-wrap {
				max-width: 436px;
				border-radius: 10px;
				background-color: rgba(#161a1f, 0.25);
				display: flex;
				margin: 0 -4px 42px;
				padding: 8px 4px;

				@media (max-width: $md3+px) {
					margin: 0 auto 42px;
				}

				@media (max-width: $md4+px) {
					max-width: 302px;
					margin: 0 auto 1px;

					& a {
						font-size: 14px;
					}
				}

			}

			& .bottom-btn {
				padding: 0 4px;
				width: 50%;

				&.active {
					& > a {
						background-color: #2eac79;
						background-image: linear-gradient(to right, #2faa79 0%, #31b781 100%);
						color: #fff;
						transition: all .2s ease;
						font-weight: 700;

						@media (min-width: 992px) {
							&:hover {
								top: 2px;
							}
						}
					}
				}

				& > a {
					min-height: 50px;
					padding: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #bbc5ce;
					box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
					border-radius: 10px;
					background-color: transparent;
					background-image: transparent;
					font-family: 'Merriweather', sans-serif;
					transition: all .2s ease;
					position: relative;
					top: 0;

					@media (max-width: $md4+px) {
						padding: 10px 8px;
					}


					@media (min-width: 992px) {
						&:hover {
							background-color: #2eac79;
							background-image: linear-gradient(to right, #2faa79 0%, #31b781 100%);	
						}
					}
				}
			}

			& h5 {
				color: #6a797d;
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 2.4px;
				position: relative;
				padding-right: 20px;
				display: inline-block;

				&:before {
					position: absolute;
					height: 100%;
					width: 9px;
					top: 0;
					right: 0;
					content:'';
					background:  url('../img/arrow-down.png') center no-repeat;
				}
			}

		}

		& .mobile-photo {
			position: relative;
			height: 0;
			width: 100%;
			padding-bottom: 74%;
			background: #0b3039;

			& img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}


			@media (min-width: 768px) {
				display: none;
			}
		}

		& .bottom-menu-wrap {
			background-color: #081f25;
		}

		& .bottom-menu {
			min-height: 65px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;

			@media (max-width: $md4+px) {
				min-height: 45px;
			}

			max-width: 847px;
			margin: 0 auto;

			@media (max-width: $md4+px) {
				max-width: 332px;
				align-items: flex-start;

				& > li {
					margin: 5px 0 0;

					& > a {
						font-size: 12px;
					}
				}
			}


			& > li {
				margin-bottom: 9px;

				& > a {
					color: #6a797d;
					font-family: Merriweather;
					font-size: 16px;
					font-weight: 400;
					padding: 10px;
					transition: all .2s ease;
					position: relative;

					&:before {
						position: absolute;
						content: '';
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						transition: all .2s ease;
						width: 0%;
						height: 3px;
						border-radius: 2px;
						background-color: #31b781;
					}

					@media (min-width: 992px) {
						&:hover {
							color: #fff;
							font-weight: 700;

							&:before {
								width: 40%
							}
						}
					}
				}
			}
		}
	}
}
//===== AND HEADER ============================================================================





/*---------------------------fees2------------------------------------*/
.fees2{
  position: relative;
  z-index: 1;
  margin: 0 0 100px;

  @media (max-width: $md3+px) {
  	background: #0e3039;
  }

  @media (max-width: $md4+px) {
  	margin-bottom: 50px;
  }
  &:after{
    position: absolute;
    top: -92px;
    left: 0;
    right: 0;
    z-index: -1;
    content: '';
    background: url("../img/bg-3.jpg")no-repeat;
    background-size: cover;
    height: 467px;
  }
  h2{
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0 0 39px;
    span{
      display: block;
      color: #31b781;
      font-weight: 700;
    }
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 50px;

    @media (max-width: $md4+px) {
    	margin-bottom: 50px;
    }

    li{
      width: 31.5%;
      margin-right: 2.6%;
      box-shadow: 0 5px 27px 1px rgba(12, 26, 55, 0.12);
      border-radius: 10px;
      background-color: #ffffff;
      position: relative;
      padding: 25px 15px;
      text-align: center;

      @media (max-width: $md3+px) {
      	width: 100%;
      	margin-bottom: 30px;
      	margin-right: 0;
      }

      figure{
        height: 125px;
        margin: 0 0 37px;
      }
      h5{
        color: #081f25;
        font-family: 'Merriweather', sans-serif;
        font-size: 30px;
        font-weight: 300;
        line-height: 35px;
        margin: 0 0 8px;

        & span  {
        	font-weight: 700;
        }
      }
      p{
        color: #081f25;
        font-family: 'Merriweather', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 9px;
      }

      a{
        color: #31b781;
        font-family: 'Merriweather', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        border-bottom: 1px solid #31b781;
        display: inline-block;
         span{
           width: 8px;
           display: inline-block;
           height: 8px;
           border-left: 4px solid #31b781;
           border-top: 4px solid transparent;
           border-bottom: 4px solid transparent;
           border-right: 4px solid transparent;
           position: relative;
           top: -1px;
           margin-left: 5px;
         }
      }
    }
    li:last-child{
      margin-right: 0;
    }
  }
  .bottom{
    box-shadow: 0 20px 48px 3px rgba(12, 26, 55, 0.12);
    border-radius: 20px;
    padding: 26px 73px 31px 97px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    span{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("../img/bg-4.jpg")no-repeat center top;
      background-size: cover;
      border-radius: 20px;
      z-index: -1;
    }
    &:after{
      position: absolute;
      top: -20px;
      left: 98px;
      right: 98px;
      border-radius: 10px;
      background-color: #31b781;
      opacity: 0.5;
      height: 100px;
      content: '';
      z-index: -2;
    }
    &:before{
      position: absolute;
      top: -10px;
      left: 49px;
      right: 49px;
      border-radius: 10px;
      background-color: #31b781;
      opacity: 0.7;
      height: 100px;
      content: '';
      z-index: -2;
    }
    .left{
      width: calc(100% - 325px);
      h2{
        color: #ffffff;
        font-family: 'Merriweather', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
        margin: 0 0 7px;
        text-align: left;
      }
      p{
        color: #31b781;
        font-family: 'Merriweather', cursive;
        font-size: 20px;
        line-height: 45px;
      }
    }
    .right{
      width: 300px;
      text-align: right;
      padding: 44px 0 0;
      a{
        text-align: left;
      }
    }
  }
}

/*---------------------------and fees2------------------------------------*/











.page-1 {
	& header {
		& .content {

			@media (max-width: $md3+px) {
				background: #10323a;
			}
			& .content-width {
				    padding: 88px 0 176px;

				    @media (max-width: 1024px) {
				    	& figure {
				    		padding: 50px 0 30px;
				    	}
				    }

				    @media (max-width: $md3+px) {
				    	width: 85%; 
				    	padding: 88px 0 100px;
				    }

				    @media (max-width: 576px) {
				    	padding: 50px 0 65px;

				    	& figure {
				    		padding: 30px 0;
				    	}
				    }

				    & .text-wrap {
				    		order: 0;
				    	@media (max-width: 576px) {

				    	}
				    }

			}

			& h1 {
				margin-bottom: 32px;

				@media (max-width: $md4+px) {
					margin-bottom: 15px;
				}
			}

			& p {
				margin-bottom: 33px;

				@media (max-width: $md4+px) {
					font-size: 16px;
					line-height: 26px;
					margin-bottom: 25px;
				}
			}

			& .bottom {

				@media (max-width: $md4+px) {
					& a {
						margin: 0 auto
					}
				}

				& h2 {
					font-size: 20px !important;
					line-height: 31px !important;
					& span {
						font-size: 24px !important;
					}

					@media (max-width: $md4+px) {
						font-size: 16px !important;
						line-height: 26px !important;
						width: 80%;
						margin: 20px auto 0;
						text-align: center;
						& span {
							font-size: 20px !important;
						}
					}
				}
			}
		}
	}

	& .info-business {
		margin-bottom: 105px;
		position: relative;

		& .content-width {

			& li {

				& h6 {
					height: 37px;

					& img {
						height: 100%;
					}
				}
			}
		}

		@media (max-width: $md3+px) {
			margin: -64px 0 50px;

			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 50%;
				background-color: #10323a;
				z-index: -1;
			}

			& .content-width {
				padding: 40px 30px;
				width: 85%;

				& ul {
					& li {
						&:not(:last-child) {
							margin-bottom: 40px;
						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

	}

	& .stat-info {


		margin-bottom: 203px;

		@media (max-width: $md3+px) {
			margin-bottom: 100px;

			&:after {
				bottom: -50px;
			}
		}

		& ul {
			margin-bottom: 52px;

			@media (max-width: $md3+px) {
				justify-content: space-evenly;
			}

			& li {

				@media (max-width: $md3+px) {
					min-width: 200px;

					&:not(:last-child) {
						margin-bottom: 65px;
					}

					& h3 {
						font-size: 60px;
					}

					& h6 {
						font-size: 22px;
					}
				}

				&:before {
					height: 2px;
				}
			}
		}

		& h3 {
			margin: 12px 0 14px;
		}
	}

	& .profiles {
		margin-bottom: 88px;

		@media (max-width: $md3+px) {
			& h2 {
				line-height: 45px !important;
			}
		}

		@media (max-width: $md3+px) {
			margin-bottom: 50px;
		}

		& .content {
			margin-bottom: 75px;
			flex-wrap: nowrap;
			justify-content: space-evenly;

			@media (max-width: 1280px) {
				margin-left: -10px;
				margin-right: -10px;

				& .item {
					//padding: 49px 6px 15px;
					width: 24.6%;

					&:not(:last-child) {
						margin-right: 1%;
					}
				}
			}

			@media (max-width: 1143px) {
				flex-wrap: wrap;

				& .item {

					&:nth-child(3) { 
						margin-right: 0%;
					}
				}
			}

			@media (max-width: 836px) {
				flex-wrap: wrap;

				& .item {

					&:nth-child(odd) { 
						margin-right: 1%;
					}

					&:nth-child(even) { 
						margin-right: 0%;
					}
				}
			}

			@media (max-width: 549px) {
				flex-wrap: wrap;

				& .item {

					margin-right: 0 !important;
				}
			}


			@media (max-width: $md2+px) { 
				flex-wrap: wrap;
				justify-content: space-evenly;

				& .item {
					margin-bottom: 30px;
				}

			}




			@media (max-width: $md4+px) {
				margin-bottom: 40px;
			}

			& .item {
				padding: 30px 20px 15px;
				max-width: 300px;
				min-width: 266px;

				@media (max-width: 568px) {
					width: 100%;
				}

				& figure {
					margin-bottom: 17px;
				}


				& h3 {
					margin-top: 2px;
					margin-bottom: 6px;
				}

				& p {
					margin-bottom: 3px;
					& > span {
						margin-top: -5px;
					}
				}

				& .stars {
					margin-bottom: 12px;
				}

				& .university {
					padding: 5px 0 9px;
					margin-bottom: 14px;
				}

				& .teg-wrap {
					& > p {
						margin-bottom: 0;
					}
				}
			}
		}

		& p.text {
			text-align: center;
			color: #6a797d;
			font-family: 'Merriweather', sans-serif;
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;

			& > span {
				color: #31b781;
				display: inline-block;
				margin-right: 5px;
			}
		}
	}

	& .use-gradskills {
		margin-bottom: 0px;
		background: #f6f8fb;
		padding-top: 90px;
		padding-bottom: 170px;

		@media (max-width: $md3+px) {
			padding-bottom: 50px;
			padding-top: 50px;

			& .content-width {
				& h2 {
					line-height: 45px !important;
				}
			}
		}

	}

	& .how-it-works {
		@media (max-width: $md3+px) {
			padding: 50px 0 65px;
			margin-bottom: 50px;
			&:after {
				 background: url(../img/bg-3.jpg)50% no-repeat;
				 background-size: cover;
				 top: 0px;
				 height: 100%;
			}

			& h2 {
				line-height: 45px !important;
				margin-bottom: 50px;
			}
		}


		& ul {
			margin: 0 0 108px;

			@media (max-width: 568px) {
				display: block;
			}

			@media (max-width: $md3+px) {
				margin-bottom: 0px;

				& li {


					& a {
						font-size: 14px;
						border: none;
					}
				}
			}

			@media (max-width: 568px) {
				& li {
				    width: 100%;
				    max-width: 266px;
				    margin: 0 auto 25px !important;
				}
			}

		}
	}

	& .launching-soon {

		@media (max-width: 767px){
			padding-bottom: 0;
		}

		@media (max-width: 568px){
			padding: 30px 0px 0;
		}
		& .content-width {

			& .dots-wrap {
				margin-top: 14px;

				@media (min-width: 768px) {
					display: none;
				}
			}

			@media (max-width: $md3+px) {

				h2 {
					margin: 22px 0 5px;
					font-size: 24px !important;
					font-weight: 400;
					text-transform: capitalize; 
				}

				p {
					margin-bottom: 21px;
				}

				& .big-btn-default {

					margin-bottom: 42px;
				}

				& ul {
					margin-bottom: 36px;

					& li {
						width: auto;
						max-width: 300px;
					}
				}

			}


			@media (max-width: $md4+px) {

				& p {
				    font-size: 16px;
				    line-height: 26px;
				    margin-bottom: 21px;
				}

				& .btn-wrap {
					display: flex;
					justify-content: center;
				}

				& ul {
					margin-bottom: 36px;

					& li {
						width: auto;
						max-width: 300px;
					}
				}

			}

			& .mobile-photo {
				img {
					display: block;
					margin: 0 auto;
				}

				@media (min-width: 768px){
					display: none;
				}
			}
		}	
	}

	& .faq {
		margin-bottom: 149px;

		@media (max-width: $md4+px) {
			margin-bottom: 50px;
		}
	}
}



.faq {
	margin-bottom: 130px;

	& .accordion {
		& .accordion-thumb {
			@media (max-width: $md3+px) {
				font-size: 16px;
				line-height: 26px;
			}
		}

		& .accordion-item {

			& p {
				@media (max-width: $md3+px) {
					font-size: 14px;
					line-height: 26px;
				}
			}
		}
	} 

	@media (max-width: $md4+px) {
		margin-bottom: 50px;
	}
}

footer {

	& .content-width {
		@media (max-width: $md3+px) {
			& h2 {
				line-height: 45px !important;
			}
		}
	}
}


.dots {
	.dots-wrap {
		text-align: center;
		padding: 200px 0;

		& img {
			width: 141px;
		}

		@media (max-width: $md3+px) {
			padding: 100px 0;
		}
	}
}

// ========= why gradskills ==============================================

.why-gradskills {
	margin: 0 0 0px;

	font-family: 'Merriweather', sans-serif;
	& .content-width {

		& .dots-wrap {
			margin-bottom: 27px;
			text-align: center;
		}

		& .suptitle {
			color: #31b781;
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 2.8px;
			margin-bottom: 10px;

			@media (max-width: $md3+px) {
				font-weight: 700;
			}
		}

		& h2 {
			color: #2e3840;
			font-family: 'Merriweather', sans-serif;
			font-size: 40px;
			font-weight: 300;
			margin: 0 0 67px;
			text-align: center;
			line-height: 60px; 

			@media (max-width: $md3+px) {
				line-height: 45px !important;
				margin-bottom: 50px;
			}

			& > span {
				color: #31b781;
				font-weight: 700;
				display: block; 
			}
		}

	}

	& .content {
		border-radius: 0 8px 8px;
		background-color: #f1f3f5;
		display: flex;

		& .column_1 {
			width: 700 / 1920 * 100%;

			@media (max-width: $md2+px) {
				display: none;
			}

			& figure {
				display: block;
				position: relative;
				min-height: 800px;

				& img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&:before {
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(42deg, #0d3039 0%, #0e3c48 100%);
					opacity: 0.5;
					z-index: 2;
				}
			}
		}

		& .column_2 {
			width: 1220 / 1920 * 100%;
			padding: 60px 15px 30px 5%;

			@media (max-width: $md2+px) {
				width: 100%;
				padding: 60px 15px 30px;
			}

			@media (max-width: $md3+px) {
				width: 100%;
				padding: 60px 15px 10px;
			}

			& ul {
				max-width: 700px;
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				@media (max-width: $md2+px) {
					margin: 0 auto;
				}

				& li {
					width: 50%;
					padding: 0 20px 0 29px;
					margin-bottom: 60px;

					&:nth-child(2n) {
						padding-left: 43px;
						padding-right: 0px;

						@media (max-width: 568px){
						   padding: 0;
						}
					}

					@media (max-width: 568px){
					   width: 100%;
					   text-align: center;
					   padding: 0;
					   margin-bottom: 50px;
					}
				}

				& figure {
					margin: 0 0 7px;
				}

				& h5 {
					margin: 0 0 13px;
					color: #081f25;
					font-size: 20px;
					font-weight: 400;

					&  b {
						font-weight: 700;
					}

					&  strong {
						font-weight: 700;
					}

					& > p {
						color: #081f25;
						font-size: 20px;
						font-weight: 400;
					}
				}

				& p {
					color: #6a797d;
					font-size: 15px;
					font-weight: 400;
					line-height: 27px;

					@media (max-width: 568px){
					   max-width: 320px;
					   margin:0 auto;
					}
				}
			}

			& .bottom-btn {
				padding-left: 19px;

				@media (max-width: $md2+px) {
					text-align: center;
					padding-left: 0;
				}
			}
		}
	}
}    

// ========= and why gradskills ==============================================    












// ========= about ============================================== 
.page-about {


	& header {
		& .content  {
			background: url(../img/about-bg.png) no-repeat center;
			background-size: cover;

			& h1 {
				margin-bottom: 33px;
			}

			p {
				margin-bottom: 53px;

				@media (max-width: $md3+px) {
					font-size: 18px;
				}
			}

			& .dots-wrap {
				& img {
					width: 141px;
				}
			}

			& .content-width {
				display: block;
				text-align: center;
				padding: 122px 0 130px;
			}

			& figure {
				margin-bottom: 0;
				top: 0;
			}

		}
	}

	& .about {
		padding: 104px 0 50px;

		@media (max-width: $md3+px) {
			padding: 15px 0 0px;
		}

		margin-bottom: 135px;
		& .colour {
			color: #31b781;
		}

		& h1 {
			font-size: 40px;
			margin-bottom: 25px;

			@media (max-width: $md3+px) {
				font-size: 30px;
				margin-bottom: 15px;
			}
		}

		& h2 {
			margin: 39px 0 20px;
			font-weight: 300;

			@media (max-width: $md3+px) {
				margin: 30px 0 15px;
			}
		}

		& p {
			font-family: 'Merriweather',sans-serif;
			color: #6a797d;
			font-size: 18px;
			line-height: 33px;
			max-width: 1041px;
			margin: 0 0 23px;

			@media (max-width: $md3+px) {
				font-size: 14px;
				line-height: 26px;
				margin: 0 0 16px;
			}
		}
	}

	& .contact-us {

		&.fees2 {
			text-align: center;
			margin-bottom: 50px;

			@media (max-width: $md3+px) {
				margin-bottom: 100px;
				padding-bottom: 1px;
			}

			@media (max-width: $md4+px) {
				margin-bottom: 40px;
			}

			& h2 {
				margin-top: 7px;
			}

			& ul {
				justify-content: center;

				@media (max-width: $md3+px) {
					display: block;
				}

				& li {
					min-width: 340px;
					 padding: 25px 15px 47px;
					 margin-bottom: 30px;
					 display: flex;
					 flex-direction: column;

					 @media (max-width: $md3+px) {
					 	min-width: auto;
					 	 padding: 25px 15px 30px;
					 }

					& figure {
						margin-bottom: 52px;
					}
					
					& h5 {
						font-weight: 700;
						margin-bottom: 30px;
						flex: 1 1 auto;

						@media (max-width: $md3+px) {
							font-size: 24px;
							margin-bottom: 15px;
						}
					}

					& a {
						color: #31b781;
						font-family: Merriweather,sans-serif;
						font-size: 22px;
						font-weight: 700;
						line-height: 1;
						display: inline-block;
						border: none;

						@media (max-width: $md3+px) {
							font-size: 18px;
						}
					}

					& p {
						& a {
							&:hover {
								color: #081f25;
							}
						}
					}
				}
			}
		}

		& .bottom-wrap {
			padding: 72px 0;

			@media (max-width: $md3+px) {
				padding: 30px 0;
			}
			&.dots-wrap {

				& img {
					width: 141px;
				}
			}
		}
	}

	& .dots {
		& .dots-wrap {
			padding: 102px 0 242px;

			@media (max-width: $md3+px) {
				padding: 102px 0 200px;
			}

			@media (max-width: $md4+px) {
				padding: 100px 0;
			}
		}
	}

	& footer {
		background: url(../img/about-footer.png) no-repeat top center;
		background-size: cover;
	}
}   
// ========= and why about ==============================================    





.error404 {
	& .not-found {
		min-height: 53%;
		padding-top: 50px;
		text-align: center;
	}
}











.page-create-account {

	&_2 {
		& .create-account-block {
			position: relative;

			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 63%;
				background: url(../img/about-bg.png) no-repeat center;
				background-size: cover;
				z-index: -1;
			}

			& .content-width {
				& > h1 {
					color: #fff;
				}
				& > p {
					color: #bbc5ce;
				}
			}
		}
	}

	& footer {
		background: none; 

		& .center {
			& p {
				color: #6a797d !important;
			}
		}

		@media (max-width: $md3+px) {
			padding-top: 0;

			& .content-width {
				& .bottom {
					margin-top: 27px;
					padding-top: 27px;
				}
			}
		}
	}
}




.create-account-block {
	text-align: center;
	padding: 67px 0 50px;
	margin-bottom: 21px;

	@media (max-width: $md3+px) {
		padding: 22px 0 10px;
		margin-bottom: 0;
	}

	& .content {
		text-align: left;
		margin: 0 auto;
		max-width: 955px;
	}

	& .content-width {
		& > h1 {
			color: #081f25;
			font-family: Merriweather;
			font-size: 48px;
			font-weight: 700;
			margin-bottom: 16px;
			margin-top: 18px;
			line-height: 48px;

			@media (max-width: $md3+px) {
				font-size: 30px;
				line-height: 33px;
				margin-top: 15px;
			}
		}

		& > p {
			color: #6a797d;
			font-family: "Open Sans";
			font-size: 20px;
			font-weight: 400;
			line-height: 33px;
			margin-bottom: 52px;

			@media (max-width: $md3+px) {
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 25px;
			}
		}
	}

	& .content-inner {
		display: flex;
		margin:  0 -14px;

		@media (max-width: $md3+px) {
			display: block;
		}
	}

	& .card {
		padding: 0 15px;
		width: 50%;

		@media (max-width: $md3+px) {
			width: 94%;
		}	
	}


	& .project-category-form {
		margin: 58px 0 65px;
		max-width: 952px;
		box-shadow: 0 20px 48px 3px rgba(12, 26, 55, 0.12);
		border-radius: 10px;
		background-color: #f6f8fb;
		text-align: center;
		padding: 50px 30px 53px;

		@media (max-width: $md3+px) {
			margin: 31px 0 34px;
			padding: 16px 20px 45px;
		}


		& h3 {
			color: #081f25;
			font-family: Merriweather;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 9px;
			margin-top: 8px;
			line-height: 40px;

			 @media (max-width: $md3+px) {
			 	font-size: 20px;
			 	font-weight: 700;
			 	line-height: 30px;
			 }
		}

		& p {
			color: #6a797d;
			font-family: "Open Sans";
			font-size: 20px;
			font-weight: 400;
			line-height: 33px;
			margin-bottom: 19px;

			@media (max-width: $md3+px) {
				font-size: 16px;
				font-weight: 400;
				line-height: 27px;
				margin-bottom: 14px;
			}
		}

		&__item {
			max-width: 402px;
			margin: 0 auto 34px;

			@media (max-width: $md3+px) {
				margin: 0 auto 21px;
			}

			& + .project-category-form__item {
				margin-bottom: 20px;
			}
			& label {
				display: block;
				text-align: left;
				color: #6a797d;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 700;
				line-height: 33px;
				text-transform: uppercase;
				letter-spacing: 1.4px;
				margin-bottom: 2px;

				@media (max-width: $md3+px) {
					font-size: 13px;
				}
			}

			& .big-btn-default {
				//padding: 0 48px 0px 57px;
				background-size: contain;
				width: 244px;

				@media (max-width: $md3+px) {
					padding: 0 48px 0px 30px;
				}

			}
		}

		& .category-select-select-block {
			width: 100%;
			height: 60px;
			box-shadow: 0 7px 15px rgba(8, 31, 37, 0.15);
			border-radius: 5px;
			background-color: #ffffff;
			text-align: left !important; 

		}

		& .link {
			color: #31b781;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			text-decoration: underline;
		}
	}

	.bottom {
		margin: 50px 0 21px;
		text-align: center;

		@media (max-width: $md3+px) {
			margin: 34px 0 1px;
		}

		& h5 {
			color: #081f25;
			font-family: Merriweather;
			font-size: 16px;
			font-weight: 400;
			line-height: 27px;
			text-align: center;
			margin-bottom: 9px;

			@media (max-width: $md3+px) {
				margin-bottom: 13px;
			}
		}

		& ul {
			display: inline-block;
			text-align: left;

			@media (max-width: $md3+px) {
				display: block;
				margin: 0 auto;
				max-width: 465px;
			}


			& li {
				display: inline-block;
				    padding-left: 22px;
				    position: relative;

				    font-family: 'Open Sans', sans-serif;
				    font-size: 14px;
				    font-weight: 400;
				    line-height: 24px;
				    margin-right: 57px;
				    vertical-align: top;
				    color: #081f25;
				    margin-bottom: 10px;

				    &:last-child {
				    	margin-right: 0;
				    }

				    &:before {
				        position: absolute;
				        top: 0;
				        left: 0;
				        content: url(../img/icon-6.svg);
				    }

				    @media (max-width: 575px) {
				    	display: block;
				    	margin-right: 0;
				    	margin-left: 13%;
				    }
			}
		}
	}


}









.card {
	position: relative;
	margin-bottom: 41px;

	@media (max-width: $md3+px) {
		margin: 0 auto 37px;
	}	
	& .decor {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -21px;
		height: 100%;
		width: 71%;
		z-index: -1;
		& > img {
			height: 100%;
			width: 100%;
			object-position: bottom;
		}
	}

	& .card-inner {
		height: 100%;
		&:before {
			position: absolute;
			content: url(../img/card-decor.png);
			top: 0;
			right: 0px;	

			@media (max-width: $md3+px) {
				display: none;
			}			
		}

		@media (max-width: $md3+px) {
			text-align: center;
		}	


	}
	
	&_1 {

		& .card-inner {
			background-image: linear-gradient(-135deg, #0e3c48 0%, #0d313a 100%);
			&:after {
				position: absolute;
				content: url(../img/card-1-decor.png);
				right: 0px;	
				bottom: -7px;	

				@media (max-width: $md3+px) {
					display: none;
				}			
			}
		}
	}
	&_2 {
		& .card-inner {
			background-image: linear-gradient(-135deg, #31b781 0%, #2ea776 100%);
			&:after {
				position: absolute;
				content: url(../img/card-2-decor.png);
				right: 0px;	
				bottom: -7px;	

				@media (max-width: $md3+px) {
					display: none;
				}			
			}

			& p {
				color: #f1f3f5;
			}

			& .big-btn-default {
				color: #161a1f;
				background: url(../img/bg-btn-white.svg) no-repeat;
				background-size: contain;
			}
		}

	}

	&-inner {
		min-height: 220px;
		padding: 30px;
		box-shadow: 0 5px 28px rgba(46, 81, 115, 0.35);
		border-radius: 10px;
		color: #fff;
		position: relative;	
		display: flex;
		flex-direction: column;

		@media (max-width: $md3+px) {
			padding: 30px 15px;
		}

		& h3 {
			font-family: Merriweather;
			font-size: 30px;
			font-weight: 300;
			line-height: 40px;
			margin-top: -2px;
			margin-bottom: 11px;
			position: relative;
			z-index: 3;

			& > span {
				font-weight: 700;
			}
		}

		& p {
			color: #bbc5ce;
			font-family: "Open Sans";
			font-size: 18px;
			font-weight: 400;
			line-height: 27px;
			position: relative;
			z-index: 4;
			margin-bottom: 20px;
			flex: 1 1 auto;
		}

		& .big-btn-default {
			position: relative;
			z-index: 5;
			padding: 0 48px 0px 57px;
			background-size: contain;
			width: 244px;

			@media (max-width: $md3+px) {
				margin: 0 auto;
				padding: 0 48px 0px 30px;
			}	
		}
	}

}






//<SELECT (sel+tab)>====================================================================================================
.select {
	&:after {
		display: none !important;
	}

	@media(max-width: $md3+px) {
		width: 100%;
	}
}
.select-block{position: relative;}
.select__label{z-index:2;position:absolute;top:-8px;background-color:#f7f7f7;padding:0 5px;color:#979797;font-weight:600;font-size:13px;line-height:16px;left:20px;}
.select{position: relative;cursor: pointer;
	.select-title{z-index: 1;width: 100%;
		height: 60px;
		position: relative;
		background-color: transparent;
		border: none;
	}
	.select-title__arrow{position: absolute;top:0;

		right: 4px;width:40px;height:100%;
		background: url('../img/keyboard_arrow_down.png') center no-repeat;
	}
	.select-title__value{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color:rgba(#000, 0.7);
		line-height: 60px;
		display: block;
		overflow: hidden;
		padding: 0 33px 0 21px;
		white-space: nowrap;
		text-transform: none;
		text-overflow: ellipsis;
	}
	.select-options{
		position: absolute;z-index: 10;
		top: 70px;display: none;overflow: hidden;
		min-width: 100%;
		background-color: #fff;
		padding: 10px 20px 10px 20px;
		box-shadow: 0 7px 15px rgba(8, 31, 37, 0.15);
		border-radius: 5px;
		background-color: #ffffff;

	}
	.select-options-scroll{
		max-height: 510px;
		overflow: auto;
		padding: 0 0px 0 0px;
	}
	.select-options-list{padding: 0px 0px 0px 0px;}
	.select-options__value{color: #000;
		color: #6a797d;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		min-height: 40px;
		padding: 10px 0;
		margin: 0px 0px 0px 0px;
		padding-right: 20px;
		transition: all .2s ease;
		padding-left: 0;
		border-radius: 10px;
		&:last-child{margin:0px 0px 0px 0px;}
		&:hover{
			color: #31b781;
			background: rgba(#31b781, 0.2);
			padding-left: 20px;
		}
	}
}
//</SELECT>====================================================================================================

.mkb-root {
	& p {
		margin: 1em 0;
	}
}


@import "text"; 